<h1 mat-dialog-title>Select School</h1>
<div mat-dialog-content>
    <mat-list>
        <mat-list-item *ngFor="let school of data.schools" [ngClass]="{'unselectable': !isSelectable(school)}"
                       (click)="selectSchool(school)">
            <h3 mat-line>{{ school.name }}</h3>
<!--            <p mat-line *ngIf="school.managerId">Managed by: {{ school.managerId }}</p>-->
        </mat-list-item>
    </mat-list>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
</div>