.contact{background-color: rgb(255, 206, 127) ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          }
.getBox{
    margin-top: 3px ;
    padding: 20px;
}

.get{
    font-size: 4rem;
}
i{
    margin-right: 10px;
}

@media (max-width: 767px) {
    .get {
      font-size: 2.5rem;
    }
  
    .getBox h3 {
      font-size: 1.25rem;
    }
  
    .icn i {
      font-size: 1.5rem;
      margin-right: 5px;
    }
  }