<div class="container mx-auto p-4">
    <div class="flex justify-between items-center mb-4">
        <div class="flex space-x-2">
            <button (click)="add()"
                    class="btn btn-primary bg-indigo-600 text-white px-4 py-2 rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition-transform transform hover:scale-105">
                <span class="material-icons">add</span>
            </button>
            <button (click)="bulkEdit()"
                    class="btn btn-secondary bg-gray-500 text-white px-4 py-2 rounded-md shadow-sm hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 transition-transform transform hover:scale-105">
                <span class="material-icons">edit</span>
            </button>
            <button (click)="bulkDelete()"
                    class="btn btn-secondary bg-red-500 text-white px-4 py-2 rounded-md shadow-sm hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 transition-transform transform hover:scale-105">
                <span class="material-icons">delete</span>
            </button>
        </div>
        <input type="text" [(ngModel)]="searchText" (ngModelChange)="onSearchTextChange($event)"
               (keypress)="onSearchKeyPress($event)" placeholder="Search..."
               class="border border-gray-300 rounded-md px-3 py-1 mx-auto">
        <button (click)="refreshData()"
                class="btn btn-secondary bg-gray-500 text-white px-4 py-2 rounded-md shadow-sm hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 transition-transform transform hover:scale-105">
            <span class="material-icons">refresh</span>
        </button>
    </div>

    <div class="overflow-x-auto">
        <table class="min-w-full bg-white border border-gray-200">
            <thead>
            <tr class="bg-gray-100 border-b">
                <th class="py-2 px-4 text-left" style="width: 150px;">Actions</th>
                <th class="py-2 px-4 text-left">
                    <button (click)="sortCol('short')" class="flex items-center">
                        Short
                        <span *ngIf="sortColumn === 'short'" class="material-icons ml-1">
                            {{ sortDirection === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
                        </span>
                    </button>
                </th>
                <th class="py-2 px-4 text-left">
                    <button (click)="sortCol('name')" class="flex items-center">
                        Name
                        <span *ngIf="sortColumn === 'name'" class="material-icons ml-1">
                            {{ sortDirection === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
                        </span>
                    </button>
                </th>
            </tr>
            </thead>
            <tbody id="class_table_body">
            <tr id="{{item.id}}" *ngFor="let item of paginatedClasses"
                class="border-b hover:bg-gray-50 transition-colors duration-200">
                <td id="{{item.id}}_actions" class="py-2 px-4" style="width: 150px;">
                    <input id="{{item.id}}_checkbox" type="checkbox"
                           (change)="onSelectChange($event, item.id)"
                           [checked]="selected.includes(item.id ?? '')" class="mr-2">
                    <button id="{{item.id}}_edit"
                            (click)="edit(item)"
                            class="text-blue-500 hover:underline">
                        <span class="material-icons">edit</span>
                    </button>
                    <button id="{{item.id}}_delete" (click)="delete(item)" class="text-red-500 hover:underline ml-2">
                        <span class="material-icons">delete</span>
                    </button>
                    <button id="{{item.id}}_view"
                            (click)="viewDetail(item)"
                            class="text-green-500 hover:underline ml-2">
                        <span class="material-icons">visibility</span>
                    </button>
                </td>
                <td id="{{item.id}}_short" class="py-2 px-4">{{ item.short }}</td>
                <td id="{{item.id}}_name" class="py-2 px-4">{{ item.name }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="flex justify-between items-center mt-4">
        <div>
            <span> Page {{ page }} of {{ totalPages }} </span>
            |
            <span> Entities {{ paginatedClasses.length }} of {{ totalEntities }}</span>
        </div>
        <div>
            <label for="pageSize">Entities per page:</label>
            <select id="pageSize" [(ngModel)]="pageSize" (change)="onPageSizeChange()"
                    class="border border-gray-300 rounded-md px-2 py-1">
                <option *ngFor="let size of [10, 25, 50, 100, 200]" [value]="size">{{ size }}</option>
            </select>
        </div>
        <div>
            <button (click)="prevPage()" [disabled]="page === 1"
                    class="btn btn-secondary bg-gray-500 text-white px-4 py-2 rounded-md shadow-sm hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 transition-transform transform hover:scale-105">
                <span class="material-icons">chevron_left</span>
            </button>
            <button (click)="nextPage()" [disabled]="page === totalPages"
                    class="btn btn-secondary bg-gray-500 text-white px-4 py-2 rounded-md shadow-sm hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 transition-transform transform hover:scale-105">
                <span class="material-icons">chevron_right</span>
            </button>
        </div>
    </div>
</div>