<!----=================Second Section==============-->

<div id="about" class="container border border-success mt-5 form-control shadow-sm" style="background-color:seagreen ;">
    <div class=" row text-center ">
        <h2 class="text-light fw-bold"> About </h2>
        <p> für das 20. Sportfest des Beruflichen Gymnasiums der BbS „Otto von Guericke“ Magdeburg</p>
    </div>
</div>
<div class="container border border-success form-control shadow">
    <div class="row mt-5 text-center">
        <div class="col-12 col-md-4 mb-3 mb-md-0">
            <div id="list-example" class="list-group">
                <a class="list-group-item list-group-item-action " href="#list-item-1">Termin</a>
                <a class="list-group-item list-group-item-action" href="#list-item-2">Teilnehmende Klassen</a>
                <a class="list-group-item list-group-item-action" href="#list-item-3">Wertung</a>
                <a class="list-group-item list-group-item-action" href="#list-item-4">Auszeichnungen</a>
                <a class="list-group-item list-group-item-action" href="#list-item-5">Sportwettbewerbe für
                    Mannschaften A
                </a>
                <a class="list-group-item list-group-item-action" href="#list-item-6">Sportwettbewerbe für
                    Mannschaften B
                </a>
                <a class="list-group-item list-group-item-action" href="#list-item-7">Einzel</a>
                <a class="list-group-item list-group-item-action" href="#list-item-8">Zeitplan</a>
                <a class="list-group-item list-group-item-action" href="#list-item-9">Meldeschluss</a>
                <a class="list-group-item list-group-item-action" href="#list-item-10">Meldegebühr</a>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                 class="scrollspy-example" tabindex="0">
                <h4 id="list-item-1" class="text-success fw-bold">Termin</h4>
                <p>Mittwoch, 12.06.2024<br>
                    07:30 Uhr bis ca. 13:00 Uhr<br>
                    Elbauenpark/Sportareal
                </p>
                <p class="text-success">-----------------------------------------</p>
                <h4 id="list-item-2" class="text-success fw-bold">Teilnehmende Klassen</h4>
                <p>BG 22a, BG 22b, BG 22c, BG 22d/e, BG 23a, BG 23b, BG 23c, BG 23d, BG 23e</p>
                <p class="text-success">-----------------------------------------</p>
                <h4 id="list-item-3" class="text-success fw-bold">Wertung</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Mannschaft A</th>
                        <th scope="col">Mannschaft B</th>
                        <th scope="col">Einzel</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1 Platz</th>
                        <td>17 Punkte</td>
                        <td>10 Punkte</td>
                        <td>7 Punkte</td>
                    </tr>
                    <tr>
                        <th scope="row">2 Platz</th>
                        <td>14 Punkte</td>
                        <td>8 Punkte</td>
                        <td>5 Punkte</td>
                    </tr>
                    <tr>
                        <th scope="row">3 Platz</th>
                        <td>11 Punkte</td>
                        <td>6 Punkte</td>
                        <td>4 Punkte</td>
                    </tr>
                    <tr>
                        <th scope="row">4 Platz</th>
                        <td>8 Punkte</td>
                        <td>5 Punkte</td>
                        <td>3 Punkte</td>
                    </tr>
                    <tr>
                        <th scope="row">5 Platz</th>
                        <td>6 Punkte</td>
                        <td>3 Punkte</td>
                        <td>2 Punkte</td>
                    </tr>
                    <tr>
                        <th scope="row">6 Platz</th>
                        <td>4 Punkte</td>
                        <td>2 Punkte</td>
                        <td>1 Punkte</td>
                    </tr>
                    </tbody>
                </table>
                <p class="text-success">-----------------------------------------</p>
                <h4 id="list-item-4" class="text-success fw-bold">Auszeichnungen</h4>
                <p>Die punktbeste Klasse erhält den Titel und eine Urkunde „Sportlichste
                    Klasse des Beruflichen Gymnasiums „BbS OvG Magdeburg“. Es werden Preisgelder für die vier
                    punktbesten Klassen vergeben:
                    - Bei Punktgleichheit entscheidet die bessere Platzierung im Tauziehen.
                    - In die Klassenwertung gelangen nur Klassen bei Beteiligung aller anwesenden Schülerinnen und
                    Schüler (Ausnahmen sind durch Atteste zu belegen).
                </p>
                <p class="text-success">-----------------------------------------</p>
                <h4 id="list-item-5" class="text-success fw-bold">Sportwettbewerbe fürMannschaften A</h4>
                <p>Fußball, Volleyball, Handball,</p>
                <p class="text-success">-----------------------------------------</p>
                <h4 id="list-item-6" class="text-success fw-bold">Sportwettbewerbe fürMannschaften B</h4>
                <p>Basketballzielwurf, Tauziehen, Staffellauf, Mannschaftsseilspringen, Dart, Medizinballstoß,
                    Deponie(treppen)lauf, Sprint, Pedalo</p>
                <p class="text-success">-----------------------------------------</p>
                <h4 id="list-item-7" class="text-success fw-bold">Einzel</h4>
                <p>Tischtennis, Medizinballstoß, Deponielauf, Seilspringen, Zielwerfen,
                    Pedalo-Rennen, Staffellauf, Sprint, Dart, Basketballzielwurf
                </p>
                <p class="text-success">-----------------------------------------</p>
                <h4 id="list-item-8" class="text-success fw-bold">Zeitplan</h4>
                <p> Einlass 7.15-7.35 Uhr am Eingang Herrenkrugstraße (Haupteingang)

                    Auswertung und Siegerehrung ca. 12.40 Uhr

                </p>
                <p class="text-success">-----------------------------------------</p>
                <h4 id="list-item-9" class="text-success fw-bold">Meldeschluss</h4>
                <p> 01.06.2024 im Lehrerzimmer B (Herr Ohk) mit Angabe der Klasse,
                    Anzahl und Tutor oder bei Herrn Ohrdorf oder Frau Schollasch
                </p>
                <p class="text-success">-----------------------------------------</p>
                <h4 id="list-item-10" class="text-success fw-bold">Meldegebühr</h4>
                <p>1,00 € pro Schüler (zum Meldetermin mit abzugeben!)
                </p>
            </div>
        </div>
    </div>
</div>
