<div class="mat-dialog-content" fxLayout="column" fxLayoutAlign="center center">
  <h2 mat-dialog-title class="text-center text-success">Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="container">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="loginForm.get('email')?.invalid">Email is required</mat-error>
    </mat-form-field>

    <mat-form-field  class="container">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="loginForm.get('password')?.invalid">Password is required</mat-error>
    </mat-form-field>

    <div mat-dialog-actions class="justify-content-center">
      <button mat-button [mat-dialog-close] class="text-danger">Cancel</button>
      <button mat-button type="submit" class="text-success">Login</button>
    </div>
  </form>
</div>