

<div id="about" class="container border border-success mt-5 form-control shadow-sm" style="background-color:seagreen ;">
    <div class=" row text-center ">
       <h2 class="text-light fw-bold"> Höchste Ergebniss </h2>
       <p> Shau mal die best 10 Klasses in unseren Sport Festival</p>
    </div>     
    </div>
    <div class="container border border-success form-control shadow">
    <div class="row mt-5 text-center">
<div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle m-4 col-3" data-bs-toggle="dropdown" data-bs-display="dropdown" aria-expanded="false">
Die Top 10 Klasses anhand die folgende Desiplien:    </button>
    <ul class="dropdown-menu  dropdown-menu-lg-end">
      <li><button class="dropdown-item" type="button">Action</button></li>
      <li><button class="dropdown-item" type="button">Another action</button></li>
      <li><button class="dropdown-item" type="button">Something else here</button></li>
    </ul>
    <button type="button" class="btn btn-success mr-5 m-4 col-3" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
        Die Top 10 Klasses in allen Desiplien    </button>
  </div>


    </div>
    </div>