<div class="card m-5 shadow-sm border border-success">
    <div class="row g-0">
        <div class="col-md-4 shadow-sm">
            <img src="assets\logo.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 mt-5">
            <div class="card-body ">
                <h1 class="card-title text-success">Willkommen Frau/Herr: </h1>
                <h2 class="card-text">Hier können Sie Daten kontrollieren</h2>
                <br>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name: {{ loggedInUser?.firstName }} {{ loggedInUser?.lastName }}</li>
                    <li class="list-group-item">Klass: {{ loggedInUser?.class }}</li>
                    <li class="list-group-item">Team: {{ loggedInUser?.team }}</li>
                    <li class="list-group-item">Points: {{ loggedInUser?.points }}</li>
                </ul>
                <br>
                <button class="btn btn-outline-success" type="button" data-bs-toggle="" data-bs-target="#"
                        (click)="teacherContact()">Lehrer-Contact
                </button>

                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
