

<div class="card m-5 shadow-sm border border-success">
    <div class="row g-0">
      <div class="col-md-4 shadow-sm">
        <img src="assets\logo.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8 mt-5">
        <div class="card-body ">
          <h1 class="card-title text-success">Willkommen {{loggedInUser?.firstName}}</h1>
          <h2 class="card-text">Ihre Dashboard zeigt Ihnen Ihre Information</h2>
          <br>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Name: {{loggedInUser?.firstName}} {{loggedInUser?.lastName}}</li>
            <li class="list-group-item">Klass: {{loggedInUser?.class}}</li>
            <li class="list-group-item">Role: {{loggedInUser?.role}}</li>
          </ul>
<!--          <app-student-list /> TODO couldn't find source -->
          <button class=" btn btn-outline-success" (click)="contactManager()">Kontakt-Manger</button>

          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card m-5 shadow border border-success">
    <div class="row text-center text-success mt-3">
    <h2>Welche von den folgenden Kategorien möchten Sie bearbeiten:</h2>

    
<div class="row cc">
<div class="hh rounded shadow">
<div class="col-md-2 fot " (click)="user()">

  <img src="assets/user.png" alt="user" width="119px">
  <h1 class="text-light tit">Users</h1>
</div></div>
<div class="hh rounded">
<div class="col-md-2 fot " (click)="team()">
  <img src="assets/team.jpg" alt="teams" width="179px">
  <h1 class="text-light tit">Teams</h1>
</div></div>
<div class="hh rounded">
<div class="col-md-2 fot" (click)="class()">
  <img src="assets/class.png" alt="class" width="154px">
  <h1 class="text-light tit">Classes</h1>
</div></div>
<div class="hh rounded">
  <div class="col-md-2 fot" (click)="deciplien()">
    <img src="assets/deciplien.png" alt="class" width="173px">
    <h1 class="text-light tit">Deciplien</h1>
  </div></div>

</div>

  </div>
  </div>