

<nav class=" nv navbar navbar-expand-lg " id="nav-item">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets\logo.png"  alt="Logo" width="60"  class=""></a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item ">
            <a class="nav-link text-success" aria-current="page" routerLink="/mainLayout">Home</a>
           </li>
          <li class="nav-item">
            <a class="nav-link text-success" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success" href="#sport">Sports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success" href="#contact">Contact</a>
          </li>    

        </ul>
        <form class="d-flex">
          <button *ngIf="!(isStudentPage || isTeacherPage)" (click)="openLoginModal()" class="btn btn-outline-success">Login</button>
          <button *ngIf="isStudentPage || isTeacherPage" (click)="logout()" class="btn btn-outline-danger">Logout</button>


        </form>
      </div>
    </div>
  </nav>