<div id="sport" class="container border border-success mt-5 form-control shadow-sm" style="background-color:seagreen ;">
    <div class=" row text-center ">
        <h2 class="text-light fw-bold"> Sports im Festival </h2>
        <p> Die folgende sind die Sport Arten in unserem Festival</p>
    </div>
</div>

<!----======Carousal==========----->
<div id="carouselExampleInterval"
     class="carousel slide container border car border border-success form-control shadow-sm"
     data-bs-ride="carousel">
    <div class="carousel-inner foto ">
        <div class="carousel-item active " data-bs-interval="10000">
            <img src="assets\footbal.jpg" class=" d-block w-100" alt="...">
            <div class="carousel-caption d-flex flex-column align-items-start justify-content-start position-absolute top-0 start-0 p-3">
                <h5>Erst Football Spiel</h5>
                <p>Football Football Football.</p>
            </div>

        </div>
        <div class="carousel-item " data-bs-interval="2000">
            <img src="assets\vollyball.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-flex flex-column align-items-start justify-content-start position-absolute top-0 start-0 p-3">
                <h5>Zweitens Volleyball</h5>
                <p>Das Text Für Volleyball.</p>
            </div>

        </div>
        <div class="carousel-item">
            <img src="assets\basketball.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-flex flex-column align-items-start justify-content-start position-absolute top-0 start-0 p-3">
                <h5>Drittens Basketball</h5>
                <p>Das Text Für Basketball.</p>
            </div>

        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>