<div class="card m-5 shadow-sm border border-success">
    <div class="row g-0">
      <h3 class="text-center text-success mt-2">Suchen Sie Benutzern nach:</h3>
      <form class="m-2 row">
        <div class="form-group col">
          <label for="id">ID</label>
          <input type="text" class="form-control" id="id" [(ngModel)]="searchId" placeholder="Enter ID" name="id">
        </div>
        <div class="form-group col">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="searchName" placeholder="Enter Name" name="name">
        </div>
        <div class="form-group col">
          <label for="role">Role</label>
          <input type="text" class="form-control" id="role" [(ngModel)]="searchRole" placeholder="Enter Role" name="role">
        </div>
      </form>
      <div class="row">
      <button type="button" class="btn btn-success m-5 col-2" (click)="searchUsers()">Suchen</button>
      <button type="button" class="btn btn-success m-5 col-2" (click)="toggleAddUserForm()">Hinzufügen</button>


    </div>
    </div>
  
    <!-- Show Table for User Data -->
    <div *ngIf="allUsers.data.length > 0" class="mat-elevation-z8">
      <table mat-table="allUsers" class="mat-table">
  
        <!-- ID Column --> 
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let user"> {{user.id}} </td>
        </ng-container>
  
        <!-- First Name Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef> Vorname </th>
          <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
        </ng-container>
  
        <!-- Last Name Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> Nachname </th>
          <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
        </ng-container>
  
        <!-- Role Column -->
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef> Rolle </th>
          <td mat-cell *matCellDef="let user"> {{user.role}} </td>
        </ng-container>
  
        <!-- Klass Column -->
        <ng-container matColumnDef="class">
          <th mat-header-cell *matHeaderCellDef> Klasse </th>
          <td mat-cell *matCellDef="let user"> {{user.class}} </td>
        </ng-container>
  
        <!-- Team Column -->
        <ng-container matColumnDef="team">
          <th mat-header-cell *matHeaderCellDef> Team </th>
          <td mat-cell *matCellDef="let user"> {{user.team}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


    <!--  Table to Add new User  -->
<!-- Add User Form -->
<div *ngIf="showAddUserForm" class="row  m-1">
  <h3>Add New User</h3>
  <form (ngSubmit)="addUser(newUser)">
    <mat-form-field>
      <input matInput placeholder="ID" [(ngModel)]="newUser.id" name="id" required>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="First Name" [(ngModel)]="newUser.firstName" name="firstName" required>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="Last Name" [(ngModel)]="newUser.lastName" name="lastName" required>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="Role" [(ngModel)]="newUser.role" name="role" required>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="Class" [(ngModel)]="newUser.class" name="class" required>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="Team" [(ngModel)]="newUser.team" name="team" required>
    </mat-form-field><br>
    <button mat-raised-button color="success" type="submit">Add User</button>
  </form>
</div>

  </div>
  